# Dependency files
package-lock.json
composer.lock

# Dependency directories
node_modules/
vendor/

# cache
public/cache/

# Development files
commands
.vscode/
assets/img/

# local configuration files
env
