# Dependency files
package-lock.json
composer.lock

# Dependency directories
node_modules/
vendor/

# cache and logs
public/cache/
*.log

# Development files
commands
.vscode/
assets/img/

# local configuration files
env

# some temporary files
public/test.php
