{{ wrapper.open() }}
    <article>
        <h2>Что такое cookie-файлы?</h2>
        <p>Cookie-файлы (далее <i>cookie</i>) — это небольшие текстовые файлы на Вашем устройстве, в которых может хранится информация о Ваших предыдущих действиях на сайте. Кроме входов в аккаунты, они могут хранить следующую информацию:</p>
        <ul>
            <li>настройки внешнего вида сайта, например, язык, валюту или размер шрифта;</li>
            <li>товары, которые Вы просматривали или добавили в корзину;</li>
            <li>текст, который Вы вводили на сайте раньше;</li>
            <li>IP-адрес и местоположение пользователя;</li>
            <li>дату и время посещений сайта;</li>
            <li>версию ОС и браузера.</li>
        </ul>
        <p>Более подробно, о том, что такое файлы cookie <a href="https://ru.wikipedia.org/wiki/Cookie" target="_blank">читайте в интернете</a>.</p>
    </article>
    <article>
        <h2>Cookies и безопасность</h2>
        <p>Сами по себе cookie не опасны — это обычные текстовые файлы. Они не могут запускать процессы на компьютере и взаимодействовать с операционной системой. Но их могут попытаться перехватить злоумышленники, чтобы отследить Ваши предыдущие действия в сети, либо входить в Ваши аккаунты без знания Ваших логина и пароля.</p>
        <p>Обычно информацию, которую записывают в cookie, не хранит в себе Ваших персональных данных, логинов и паролей, кроме того информацию зашифровывают перед отправкой, а сами cookie передают по HTTPS-протоколу. Это помогает защитить пользовательские данные, но за внедрение шифрования и безопасную отправку отвечает разработчик сайта. Со своей стороны пользователь может запретить браузеру использовать cookie или время от времени чистить их самостоятельно.</p>
        <p>Совсем отключать cookie — не всегда хорошая идея. Например, все интернет-магазины работают с помощью cookie. Если запретить браузеру их использовать, сервер не сможет запомнить, что именно вы добавили в корзину. Чистить cookie вручную практичнее, но придётся каждый раз заново устанавливать определённые настройки аккаунта или сайта.</p>
        <p>О том, как очистить cookie или изменить их настройки использования — ищите в интернете.</p>
    </article>
    <article>
        <h2>Как мой сайт использует cookie</h2>
        <p>Кратко: в данный момент никак.</p>
        <p>В данный момент на моём сайте не действует какой-либо сбор аналитических данных или метрик, типа Google analitics или Yandex metrika. Так же на сайте в данный момент отсутствует какой-либо идентификатор пользователя, либо доступная пользователям авторизация. В связи с этим мой сайт в данный момент не сохраняет какие-либо cookie на Вашем устройстве.</p>
        <p>Учитывая дальнешее развитие сайта, политика использования cookie может измениться, что будет отражено в данном соглашении. По этому, продолжая пользоваться моим сайтом, Вы соглашаетесь на размещение cookie на Вашем устройстве. Если вы решили отказаться от использования файлов cookie моим сайтом, установите соответствующие настройки в Вашем браузере, либо завершите пользование сайтом.</p>
    </article>
{{ wrapper.close() }}