{{ wrapper.addClass('error-content').open() }}
    <figure class="error-content__banner">
        {{ img('/images/404-mindtrick.jpg').alt('Ошибка 404. Это не та страница, которую вы ищите') }}
        <figcaption class="error-content__image-caption">Кадр из к/ф &laquo;Звёздные войны: Эпизод IV — Новая надежда&raquo; (1977), где Оби-Ван Кеноби обманывает разум имперских пехотинцев, убеждая их, что это не те дроиды, которых они ищут.</figcaption>
    </figure>
    <div class="error-content__body">
        <p>Такой страницы не существует, либо она была удалена.</p>
        <p>Если Вы считаете, что это ошибка — {{ link('contacts').label('свяжитесь со мной') }}.</p>
    </div>
{{ wrapper.close() }}