{{ wrapper.open() }}
    <p>Во избежание публикации нежелательного контента, все комментарии проходят премодерацию.</p>
    <p>Пожалуйста воздержитесь от отправки комментария, если он содержит:</p>
    <ul>
        <li>Ругань и ненормативную лексику при отсутствии смысловой нагрузки;</li>
        <li>Рекламу (услуги, товары, ссылки и пр.);</li>
        <li>Неинформативный текст, флуд, спам.</li>
    </ul>
    <p>Комментарии подобного характера не будут опубликованы.</p>
{{ wrapper.close() }}