# Set the default handler.
DirectoryIndex index.php index.html index.htm
AddDefaultCharset UTF-8
RewriteEngine On
# Options +Indexes +FollowSymLinks
Options -MultiViews +Indexes +FollowSymLinks +IncludesNoExec +Includes +ExecCGI

# To redirect all users to access the site WITHOUT the 'www.' prefix,
# (http://www.example.com/foo will be redirected to http://example.com/foo)
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

# HTTPS Redirect
# RewriteCond %{HTTPS} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect all requests to /index.php
<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|webp|ico|js|css|svg)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f [NC]
  RewriteCond %{REQUEST_FILENAME} !-d [NC]
  RewriteRule .* index.php [L]
</IfModule>