{{ wrapper.open() }}
    <p>Пожалуйста воздержитесь от отправки сообщения, если оно содержит:</p>
    <ul>
        <li>Ругань и ненормативную лексику при отсутствии смысловой нагрузки;</li>
        <li>Рекламу (услуги, товары и пр.);</li>
        <li>Неинформативный текст, флуд, спам.</li>
    </ul>
    <p>Сообщения подобного характера будут проигнорированы.</p>
{{ wrapper.close() }}