.js-html-tags-autofill {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    &__item {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    &__btn {
        padding: 4px 12px;
        font-size: 14px;
        border-radius: 4px;
        background-color: #d1dae0;
        color: #4f5255;
        cursor: pointer;
        transition: .2s all ease-in-out;

        &:hover {
            color: #171717;
            background-color: #f7f7f7;
        }
    }
}