{{ wrapper.open() }}
    <form action="{{ url('<current_offset>') }}" method="GET" class="cookie-agreement__form">
        <input type="hidden" name="cookie-agreement" value="1">
        <p>Мой сайт использует {{ link('cookie_agreement').render('cookie-файлы') }}</p>
        <input type="submit" value="Понятно" class="btn cookie-agreement__submit">
    </form>
{{ wrapper.close() }}