{% set date = '2021' %}
{% if current_year != date %}
{% set date = date ~ '—' ~ current_year %}
{% endif %}
{{ wrapper.open() }}
    <p>All rights reserved © <a href="https://vk.com/uspmm" target="_blank" title="Я ВКонтакте">Michael Uspensky</a>, {{ date }}</p>
{{ wrapper.close() }}