{{ wrapper.open() }}
    <h1 class="slider__title">{{ t('Blog page') }}</h1>
    <p class="slider__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis rerum pariatur magnam quasi iusto ratione odio officia blanditiis, quas fugit molestiae nemo quod, placeat vel eum voluptatem non mollitia repellendus debitis perferendis.</p>
{{ wrapper.close() }}