<header class="container container_header">
    <nav class="navbar" aria-label="Primary navigation">
        {{ logo }}
        {{ menu }}
        <button id="mobile-menu-button">
            {{ img('/images/icons/menu.svg').alt('mobile menu button') }}
        </button>
    </nav>
</header>