<!DOCTYPE html>
<html lang="{{ langcode }}">
{{ page.head }}
<body>
    <h1>Blog page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia enim et eius cumque nulla repellat voluptates. Laboriosam in rem numquam fuga, nam voluptate, facere labore aliquid dolorem vero deleniti deserunt necessitatibus, dolor minima maiores facilis delectus odio libero odit iure molestias pariatur magnam ratione. Suscipit iste ullam quos atque.</p>
</body>
</html>