// BLOCK -------------------------------------------------------------->
.articles {
    // ELEMENTS ------------------------------------------------------->
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_teaser {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin: 0 0 30px 0;
        column-gap: 30px;
        list-style-type: none;

        @include vwMax($vwbp_xl) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
        }

        @include vwMax($vwbp_s) {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }

        // MODIFICATOR ELEMENTS --------------------------------------->
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------

// BLOCK -------------------------------------------------------------->
.article {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: $bkgd;
    transition: $transition;

    // ELEMENTS ------------------------------------------------------->
    &__header {
        display: flex;
    }

    &__date,
    &__views,
    &__comments {
        font-size: 0.8em;
        color: $grey;
    }

    &__summary {
        margin-top: 0;
    }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__comments {
        display: flex;
        align-items: center;
        & img {
            height: 24px;
            width: auto;
            object-fit: contain;
            margin-right: .5em;
        }
    }

    &__views {
        display: flex;
        align-items: center;
        margin-left: 1em;
        &::before {
            content: "";
            display: inline-block;
            background: url('/images/icons/eye.svg');
            width: 24px;
            height: 24px;
            border-radius: 8px;
            opacity: 0.8;
            margin-right: 6px;
        }
    }

    &__rating {
        color: $grey_strong;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__rating-number {
        margin: 0 .5em;

        &.negative {
            color: $red_medium;
        }
    }

    &__rating-btn {
        width: 32px;
        height: 32px;
        border: none;
        padding: 8px;
        cursor: pointer;
        background: none;
        
        & svg {
            fill: $blue_light;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            transition: $transition;
            opacity: 0.7;
        }

        &_up {
            &.voted,
            &:hover {
                & svg {
                    fill: $green;
                    opacity: 1;
                }
            }
        }

        &_down {
            & svg {
                transform: rotateZ(180deg);
            }
            &.voted,
            &:hover {
                & svg {
                    fill: $red_hover;
                    opacity: 1;
                }
            }
        }

        &:disabled {
            & svg {
                fill: $grey_light;
            }
        }
    }
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_full {
        padding: 30px;

        // MODIFICATOR ELEMENTS --------------------------------------->
        &__header,
        &__footer {
            padding: 15px 0;
            align-items: center;
        }

        &__body {
            & p {
                &::first-letter {
                    margin-left: 2em;
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    
    &_teaser,
    &_preview {
        // MODIFICATOR ELEMENTS --------------------------------------->
        &:hover {
            box-shadow: $shadow;
        }

        &:active {
            box-shadow: none;
            background-color: transparent;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    
    &_teaser {
        display: flex;
        flex-direction: column;
        height: 100%;

        // MODIFICATOR ELEMENTS --------------------------------------->
        &__image-wrapper {
            overflow: hidden;
            width: 100%;
            height: 210px;

            @include vwMax($vwbp_m) {
                height: 180px;
            }

            @include vwMax($vwbp_s) {
                height: auto;
            }
        }

        &__img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &__header {
            flex-direction: column;
            color: inherit;
        }

        &__title,
        &__summary {
            font-size: 14px;
            padding: 0 15px;
        }

        &__title {
            margin: 8px 0;
        }

        &__date {
            margin: auto 15px 15px auto;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    
    &_preview {
        display: grid;
        padding-right: 20px;
        column-gap: 20px;
        grid-template-columns: 280px 1fr;
        grid-template-areas: 
            "header title"
            "header summary"
            "header date";

        @include vwMax($vwbp_m) {
            display: flex;
            flex-direction: column;
            padding-right: 0;
            height: 100%;
        }

        // MODIFICATOR ELEMENTS --------------------------------------->
        &__header {
            grid-area: header;
            overflow: hidden;
            width: 100%;

            @include vwMax($vwbp_m) {
                height: 180px;
            }
            @include vwMax($vwbp_s) {
                height: auto;
            }
        }

        &__header:hover ~ &__title {
            color: $link_hover;
        }

        &__img {
            object-fit: cover;
            width: 100%;
            height: auto;

            @include vwMax($vwbp_m) {
                height: 100%;
                width: 100%;
            }
        }

        &__title {
            grid-area: title;
            margin: 15px 0 12px;

            @include vwMax($vwbp_m) {
                padding: 0 15px;
            }
        }

        &__title-link {
            color: inherit;
        }

        &__summary {
            grid-area: summary;
            margin: 0 0 12px 0;

            @include vwMax($vwbp_m) {
                padding: 0 15px;
            }
        }

        &__date {
            grid-area: date;
            margin-right: 1em;
        }

        &__footer {
            padding-bottom: 10px;

            @include vwMax($vwbp_m) {
                margin-top: auto;
                padding: 0 15px 15px;
            }
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------