// BLOCK -------------------------------------------------------------->
.articles {
    // ELEMENTS ------------------------------------------------------->
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_teaser {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin: 0 0 30px 0;
        column-gap: 30px;
        list-style-type: none;

        @include vwMax($vwbp_xl) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
        }

        @include vwMax($vwbp_s) {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }

        // MODIFICATOR ELEMENTS --------------------------------------->
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------

// BLOCK -------------------------------------------------------------->
.article {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: $bkgd;
    transition: $transition;

    // ELEMENTS ------------------------------------------------------->
    &__header {
        display: flex;
    }

    &__date {
        font-size: 0.8em;
        color: $grey;
    }

    &__summary {
        margin-top: 0;
    }
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_full {
        padding: 30px;

        // MODIFICATOR ELEMENTS --------------------------------------->
        &__header,
        &__footer {
            padding: 15px 0;
        }

        &__body {
            & p {
                &::first-letter {
                    margin-left: 2em;
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    
    &_teaser,
    &_preview {
        // MODIFICATOR ELEMENTS --------------------------------------->
        &:hover {
            box-shadow: $shadow;
        }

        &:active {
            box-shadow: none;
            background-color: transparent;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    
    &_teaser {
        display: flex;
        flex-direction: column;
        font-size: 0.75em;
        height: 100%;

        // MODIFICATOR ELEMENTS --------------------------------------->
        &__img {
            object-fit: cover;
            max-height: 210px;
            height: 100%;
            width: auto;

            @include vwMax($vwbp_m) {
                max-height: 190px;
            }
        }

        &__header {
            flex-direction: column;
            color: inherit;
        }

        &__title,
        &__summary {
            padding: 0 15px;
        }

        &__title {
            margin: 8px 0;
        }

        &__date {
            margin: auto 15px 15px auto;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    
    &_preview {
        display: grid;
        padding-right: 20px;
        column-gap: 20px;
        grid-template-columns: 280px 1fr;
        grid-template-areas: 
            "header title"
            "header summary"
            "header date";

        // MODIFICATOR ELEMENTS --------------------------------------->
        &__header {
            grid-area: header;
            overflow: hidden;
        }


        &__img {
            object-fit: cover;
            min-width: 100%;
            height: auto;
        }

        &__title {
            grid-area: title;
            margin: 15px 0 12px;
        }

        &__title-link {
            color: inherit;
        }

        &__summary {
            grid-area: summary;
            margin: 0 0 12px 0;
        }

        &__date {
            grid-area: date;
            margin-bottom: 12px;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------