.btn {
    border-radius: 4px;
    background-color: $btn_blue;
    font-size: .9em;
    font-weight: 400;
    color: #ffffff;
    padding: 5px 15px;
    cursor: pointer;
    transition: $transition;
    transform: scale(1);

    &:hover {
        background-color: $btn_blue_hover;
    }
    &:active {
        transform: scale(0.95);
        background-color: $btn_blue;
        color: $grey_light;
    }
}