.btn {
    border-radius: 4px;
    background-color: $btn_blue;
    font-size: .9em;
    font-weight: 400;
    color: #ffffff;
    padding: 5px 15px;
    cursor: pointer;
    transition: $transition;
    transform: scale(1);

    &:hover {
        background-color: $btn_blue_hover;
    }
    &:active {
        transform: scale(0.95);
        background-color: $btn_blue;
        color: $grey_light;
    }

    &_transparent {
        color: $btn_blue;
        border: 1px solid $btn_blue;
        background-color: transparent;
        &:hover {
            color: $btn_blue_hover;
            border-color: $btn_blue_hover;
            background-color: transparent;
        }
        &:active {
            color: $btn_blue_hover;
            border-color: $btn_blue_hover;
            background-color: transparent;
        }
    }
}

#print-summary {
    padding: 10px 20px;
    &::first-letter {
        text-transform: uppercase;
    }
}