.comments,
.article-comments {
    padding: 0;
    list-style-type: none;
    margin: 0;

    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

// BLOCK -------------------------------------------------------------->
.comment {
    padding: 10px 30px;
    border-radius: 4px;
    background-color: $bkgd;
    transition: $transition;

    // ELEMENTS ------------------------------------------------------->
    &.unpublished {
        background-color: $unpublished;
    }

    &:hover {
        box-shadow: $shadow;
    }

    &__header {
        display: flex;
        font-size: .9em;
    }

    &__title {
        margin: 0 0 8px;
        font-weight: 400;
    }

    &__author {
        font-weight: 600;
    }

    &__date {
        color: $grey;
        margin-left: 1em;
    }

    &__email {
        margin-left: 1em;
    }

    &__body {
        font-style: italic;
        margin: 0;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }

    &__edit {
        margin-left: 1em;
        color: $btn_blue;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 2px 12px;
        font-size: 16px;

        &:hover {
            color: $btn_blue_hover;
            border-color: $btn_blue_hover;
        }

        &_delete {
            color: $red;

            &:hover {
                color: $red_hover;
                border-color: $red_hover;
            }
        }
    }
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_full {
        // MODIFICATOR ELEMENTS --------------------------------------->
        &__header {
            flex-direction: column;
        }
        // MODIFICATOR ELEMENTS <---------------------------------------
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------