.container {
    @include wrapper();
    position: relative;

    &_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 15px;

        @include vwMax($vwbp_xl) {
            & .menu_footer {
                order: 1;
            }
            & .menu_info {
                order: 2;
            }
            & .logo {
                order: 3;
                flex: 1;
            }
            & .copyrights {
                order: 4;
                width: 100%;
                justify-content: center;
            }
        }
    }
}