.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    visibility: hidden;
}

.cookie-files {
    background-color: $bkgd;
    padding: 15px 30px;
    border-radius: 4px;
}

.text-justify {
    text-align: justify;
}