// BLOCK -------------------------------------------------------------->
.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 400px;
    column-gap: 30px;

    @include vwMax($vwbp_xl) {
        grid-template-columns: 1fr;
    }

    // ELEMENTS ------------------------------------------------------->
    &__rules {
        font-size: .9em;
    }
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_login {
        display: flex;
        justify-content: center;
    }
    // MODIFICATORS <---------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_skill,
    &_article {
        display: block;
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------

// BLOCK -------------------------------------------------------------->
.form {
    position: relative;
    width: 100%;
    margin: 0 auto;

    // ELEMENTS ------------------------------------------------------->
    &__title {
        &_field {
            font-size: 1em;
            font-weight: 400;
            margin: 0;
        }
    }
    &__field {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__line {
        display: flex;
        align-items: center;
    }

    &__label {
        &_checkbox {
            width: auto;
            margin-right: 2em;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 0.8em;
            text-transform: uppercase;
            transition: $transition;

            &:hover {
                color: $btn_blue_hover;
            }
        }
    }

    &__annotation {
        width: 100%;
        font-size: 15px;
        color: $grey_strong;
        margin-top: 0;

        @include vwMax($vwbp_m) {
            font-size: 12px;
        }
    }

    &__prefix {
        flex-shrink: 0;
        min-width: 50px;
        &_alias {
            font-family: monospace;
        }
    }

    &__password,
    &__textarea,
    &__input {
        width: 100%;
        padding: 5px 12px;
        outline: none;
        border-radius: 4px;
        border: 1px solid $grey_light;
        font: inherit;
        font-size: 0.9em;

        &:focus {
            border-color: $link_hover;
        }

        &::placeholder {
            color: $grey_light;
        }
    }

    &__textarea {
        font-size: 0.8em;
        resize: vertical;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__submit {
        outline: none;
        font: inherit;
        font-size: 0.8em;
        text-transform: uppercase;
        &:focus {
            border-color: $link_hover;
        }
    }

    &__checkbox {
        visibility: hidden;
        position: absolute;
        z-index: -999;
        left: -9999px;
    }

    &__cb-switch {
        position: relative;
        width: 42px;
        height: 24px;
        border-radius: 12px;
        box-shadow: 0 0 4px $grey_hard inset;
        background-color: transparent;
        transition: $transition;
        margin-right: 0.5em;
        flex-shrink: 0;

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: white;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition;
        }
    }

    &__label_checkbox:hover &__cb-switch {
        background-color: $grey_bright;
    }

    &__checkbox:checked ~ &__cb-switch {
        background-color: $blue_light;

        &::after {
            left: 21px;
        }
    }

    &__label_checkbox:hover &__checkbox:checked ~ &__cb-switch {
        background-color: $blue_bright;
    }

    &__pw-switch {
        position: absolute;
        right: 5px;
        top: 50%;
        width: 28px;
        height: 28px;
        transform: translateY(-50%);
    }

    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_login {
        max-width: 600px;

        &__field {
            &_checkbox {
                margin-left: 1em;

                @include vwMax(400px) {
                    margin-left: 0;
                    order: 1;
                }
            }

            &_submit {
                @include vwMax(400px) {
                    order: 2;
                }
            }
        }

        &__footer {
            @include vwMax(400px) {
                flex-direction: column;
            }
        }
    }

    &_comment,
    &_login,
    &_feedback {
        &__line {
            @include vwMax($vwbp_xs) {
                flex-wrap: wrap;
            }
        }

        &__label {
            width: 140px;
            flex-shrink: 0;

            @include vwMax($vwbp_s) {
                width: 110px;
            }
        }
    }
    
    &_entity {
        &__label {
            width: 100%;
            &_alias,
            &_line,
            &_checkbox {
                width: auto;
            }
            &_src {
                width: 45px;
                margin-right: 5px;
            }
        }

        &__line {
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__textarea {
            font-size: 0.7em;
        }
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------