// BLOCK -------------------------------------------------------------->
.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 400px;
    column-gap: 30px;

    @include vwMax($vwbp_xl) {
        grid-template-columns: 1fr;
    }

    // ELEMENTS ------------------------------------------------------->
    &__rules {
        font-size: .9em;
    }
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_login {
        display: flex;
        justify-content: center;
    }
    // MODIFICATORS <---------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_blog-article {
        display: block;
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------

// BLOCK -------------------------------------------------------------->
.form {
    position: relative;
    width: 100%;
    margin: 0 auto;

    // ELEMENTS ------------------------------------------------------->
    &__field {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }

    &__field-label {
        width: 140px;

        @include vwMax($vwbp_s) {
            width: 110px;
        }

        &_checkbox {
            width: auto;
            margin-left: 1em;
        }
    }

    &__field-anno {
        width: 100%;
        font-size: 15px;
        color: $grey_strong;

        @include vwMax($vwbp_m) {
            font-size: 12px;
        }
    }

    &__textarea,
    &__input {
        padding: 5px 12px;
        outline: none;
        border-radius: 4px;
        border: 1px solid $grey_light;
        font: inherit;

        &:focus {
            border-color: $link_hover;
        }
    }

    &__input {
        width: calc(100% - 140px);

        @include vwMax($vwbp_s) {
            width: calc(100% - 110px);
        }
        @include vwMax($vwbp_xs) {
            width: 100%;
        }
    }

    &__textarea {
        width: 100%;
        resize: vertical;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__submit {
        outline: none;
        font: inherit;
        &:focus {
            border-color: $link_hover;
        }
    }
    // ELEMENTS <-------------------------------------------------------

    // MODIFICATORS --------------------------------------------------->
    &_login {
        max-width: 600px;

        &__field {
            &_checkbox {
                margin-left: 1em;

                @include vwMax(400px) {
                    margin-left: 0;
                    order: 1;
                }
            }

            &_submit {
                @include vwMax(400px) {
                    order: 2;
                }
            }
        }

        &__footer {
            @include vwMax(400px) {
                flex-direction: column;
            }
        }
    }
    
    &_blog-article {
        &__field {
            &_checkbox {
                margin-left: 1em;
            }
        }
        
        &__field-label {
            &:not(&_checkbox) {
                width: 100%;
            }
        }

        &__input-line {
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__input {
            width: 100%;
        }
    }
    // MODIFICATORS <---------------------------------------------------
}
// BLOCK <--------------------------------------------------------------