.js-slider {
    @include noul();
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include vwMax($vwbp_m) {
        justify-content: center;
    }

    &__item {
        transition: .2s opacity, background ease-in-out;
        &.left,
        &.right {
            opacity: .5;
            cursor: pointer;
            flex-shrink: 0;

            &:hover {
                opacity: .9;
            }

            @include vwMax($vwbp_m) {
                z-index: 1;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &.left {
            grid-area: left;
            order: 1;
        }

        &.middle {
            grid-area: middle;
            order: 2;

            @include vwMax($vwbp_m) {
                margin: 0 60px 60px 60px;
                z-index: 2;
            }

            @include vwMax($vwbp_s) {
                margin: 0 45px 60px 45px;
            }

            @include vwMax($vwbp_s) {
                margin: 0 30px 60px 30px;
            }
        }

        &.right {
            grid-area: right;
            order: 3;

            @include vwMax($vwbp_m) {
                left: auto;
                right: 0;
            }
        }
    }

    &__control {
        background: url('/images/icons/arrow.svg') no-repeat;
        background-position: center center;
        background-size: 40px 40px;
        width: 60px;
        cursor: pointer;
        transition: $transition;
        opacity: 0.6;
        flex-shrink: 0;
        border-radius: 4px;

        @include vwMax($vwbp_m) {
            display: none;
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            background-color: $grey_very_light;
        }

        &.prev {
            grid-area: prev;
            order: 0;
        }

        &.next {
            grid-area: next;
            order: 4;
            transform: rotate(180deg);
        }
    }
}