.js-slider {
    @include noul();
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &__item {
        transition: $transition;
        &.left,
        &.right {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: .6;
            cursor: pointer;
        }
        &.left {
            transform: translate(calc(-50% - 360px), -50%) scale(.6);
            &:hover {
                transform: translate(calc(-50% - 360px), -50%) scale(.7);
                opacity: .9;
            }
        }
        &.right {
            transform: translate(calc(-50% + 360px), -50%) scale(.6);
            &:hover {
                transform: translate(calc(-50% + 360px), -50%) scale(.7);
                opacity: .9;
            }
        }
    }

    &__control {
        background: url('/images/icons/arrow.svg') no-repeat;
        background-position: center center;
        background-size: 40px 40px;
        width: 58px;
        cursor: pointer;
        transition: $transition;
        opacity: 0.6;
        flex-shrink: 0;
        border: 1px solid transparent;
        border-radius: 4px;

        &:hover {
            opacity: 0.9;
            border-color: $grey_light;
        }

        &:active {
            background-color: $grey_bright;
            box-shadow: none;
        }

        &.next {
            transform: rotate(180deg);
        }
    }
}