#mobile-menu-button {
    display: none;
    border: none;
    background: none;
    width: 80px;
    height: 80px;
    padding: 30px;
    cursor: pointer;
    opacity: .7;
    transition: $transition;

    @include vwMax($vwbp_s) {
        display: inline-block;
    }

    &:hover {
        opacity: 1;
        background-color: $bkgd;
    }

    &:active {
        background-color: $grey_bright;
    }

    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: relative;

    &_main {
        @include vwMax($vwbp_s) {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: $bkgd;
            z-index: 2;
            flex-direction: column;
            align-items: stretch;
            overflow: hidden;
            height: 0;

            &.expanded {
                height: auto;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            padding: 0 30px;
            height: 78px;
            text-transform: uppercase;
            color: #232323;
            opacity: 0.7;
            border-bottom: 2px solid transparent;
            white-space: nowrap;

            &:hover {
                opacity: 1;
            }

            @include vwMax($vwbp_m) {
                padding: 0 20px;
                font-size: 18px;
            }

            @include vwMax($vwbp_s) {
                height: auto;
                padding: 15px 45px;
                border-bottom: none;
                border-left: 4px solid transparent;

                &:hover {
                    background-color: white;
                }

                &:active {
                    background-color: $grey_bright;
                }
            }

            &_home {
                background-image: url('/images/icons/home.svg');
                background-size: 24px 24px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 50px;
            }

            &.active {
                border-color: #232323;
            }
        }
    }

    &_footer {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
        flex-wrap: wrap;

        &__item {
            margin: 7.5px;
        }

        &__link {
            padding: 4px 12px;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            background-color: $grey_bright;
            color: $grey_hard;
            text-align: center;

            &:hover {
                color: $grey;
                background-color: $grey_bright;
            }

            &:active {
                color: $grey_strong;
                background-color: $grey_light;
            }
        }
    }
}