.section {
    padding-top: 15px;
    padding-bottom: 15px;

    &__header {
        text-align: center;
        text-transform: capitalize;
    }

    &_banner {
        width: 100%;
        padding: 15px 90px;
        min-height: 440px;
        text-align: center;
        background-image: url('/images/banner.jpg');
        background-color: #f2e7d3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        font-size: 0.9em;
        font-weight: bold;

        & h1 {
            font-size: 60px;
        }
    }

    &_summary,
    &_contacts {
        padding-left: 30px;
        padding-right: 30px;

        @include vwMax($vwbp_xl) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include vwMax($vwbp_m) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}