.section {
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &__header {
        text-align: center;
        text-transform: lowercase;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }

    &__more-link {
        display: block;
        color: $btn_blue;
        padding: 2px 40px 2px 15px;
        position: relative;
        border-radius: 4px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            border: 1px solid transparent;
            border-radius: 4px;
            width: 30px;
            height: 30px;
            background: url('/images/icons/arrow-thin.svg') no-repeat;
            background-size: 16px 16px;
            background-position: center center;
            top: calc(50% - 16px);
            right: 0;
            transition: $transition;
        }

        &:hover {
            color: $btn_blue_hover;
            &::after {
                border-color: $btn_blue_hover;
            }
        }

        &:active {
            // box-shadow: 0 0 4px -1px $grey inset;
            background-color: $grey_bright;
            transform: scale(0.975);
        }
    }

    &_banner {
        width: 100%;
        padding: 15px 90px 60px;
        // min-height: 440px;
        text-align: center;
        background-image: url('/images/banner.jpg');
        background-color: #f2e7d3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        font-size: 0.9em;
        font-weight: bold;

        @include vwMax($vwbp_s) {
            padding: 15px 40px;
        }
        
        @include vwMax($vwbp_xs) {
            font-size: 0.85em;
            padding: 15px 30px;
        }

        & h1 {
            font-size: 60px;

            @include vwMax($vwbp_m) {
                font-size: 40px;
            }

            @include vwMax($vwbp_s) {
                font-size: 24px;
            }
        }
    }

    &_summary,
    &_contacts {
        padding-left: 30px;
        padding-right: 30px;
        background-color: $bkgd;
        border-radius: 4px;

        @include vwMax($vwbp_xl) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include vwMax($vwbp_m) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &_blog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &_comment-form {
        &__header {
            grid-column: 1 / -1;
        }
        padding-bottom: 0;
    }
}