// FONT ----------------------------------------->
@import 'font-montserrat';
$font: 400 20px/1.4 'Montserrat', sans-serif;
// <----------------------------------------------

// COLORS --------------------------------------->
$txt: #171717;
$bkgd: #f7f7f7;
// <----------------------------------------------