// VIEWPORT WIDTH BREAKPOINTS ------------------->
$vwbp_min: 300px;
$vwbp_xs: 480px;
$vwbp_s: 600px;
$vwbp_m: 768px;
$vwbp_l: 992px;
$vwbp_xl: 1200px;
$vwbp_max: 1920px;
// <----------------------------------------------

// COLORS --------------------------------------->
$txt: #171717;
$bkgd: #f7f7f7;
$document: #e2efe9;
$btn_blue: #6666c7;
$btn_blue_hover: #3e3ecc;
$blue_bright: #bcbcf5;
$link: #a87704;
$link_hover: #ca8f06;
$link_visited: #6b5319;
$grey_light: #c2ccd3;
$grey_bright: #d1dae0;
$grey_very_light: #e4ecf1;
$grey: #898d90;
$grey_strong: #6d7174;
$grey_hard: #4f5255;
$unpublished: #ffe2ea;
$red: #dd271a;
$red_hover: #dd6158;
$phantom: #4c5058;
// <----------------------------------------------

// STYLES --------------------------------------->
$shadow: 0 0 10px -3px $grey;
$transition: .2s all ease-in-out;
// <----------------------------------------------